body{
   font-family: sans-serif;
}
.container-fluid{
    align-items: center;
}

nav, .offcanvas{
    background-color: #1e293b;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
@media(max-width:769px){
    .navbar-nav > li:hover{
        background-color: #0dcaf0;
    }
}

.color-principal {
    background-color: #1e293b;
}

.imagen-knapsack-problem {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
