body{
   font-family: sans-serif;
}
.container-fluid{
    align-items: center;
}

nav, .offcanvas{
    background-color: #1e293b;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
@media(max-width:769px){
    .navbar-nav > li:hover{
        background-color: #0dcaf0;
    }
}

.color-principal {
    background-color: #1e293b;
}

.imagen-knapsack-problem {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.circulo {
    position: absolute; /* Establece la posición absoluta para el círculo */
    width: 80px; /* Tamaño más pequeño */
    height: 80px; /* Tamaño más pequeño */
    border-radius: 50%;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px; /* Tamaño de fuente más pequeño */
  }

  /* Estilos para los círculos individuales */
  #circulo1 { top: 150px; left: 10px; }
  #circulo2 { top: 10px; left: 200px; }
  #circulo3 { top: 300px; left: 200px; }
  #circulo4 { top: 10px; left: 390px; }
  #circulo5 { top: 300px; left: 390px; }
  #circulo6 { top: 150px; left: 580px; }
  #circulo7 { top: 150px; left: 300px; }
  /* Puedes seguir añadiendo más estilos para más círculos */

  .linea {
    position: absolute;
    stroke: black; /* Color de la línea */
    stroke-width: 2px; /* Grosor de la línea */
}

  .min-heigth{
    min-height: 500px;
  }
