body{
   font-family: sans-serif;
}
.container-fluid{
    align-items: center;
}

nav, .offcanvas{
    background-color: #1e293b;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus{
    outline: none;
    box-shadow: none;
}
@media(max-width:769px){
    .navbar-nav > li:hover{
        background-color: #0dcaf0;
    }
}
<<<<<<< HEAD

.color-principal{
    background-color: #1e293b;
}
=======
.imagen-knapsack-problem {
    display: flex;
    align-items: center; 
}
.imagen-knapsack-problem {
    margin-right: 20px; 
}
>>>>>>> 0d066e103afc4c97bc37e7ee2e5912f8e74d02dc
